<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="securityCryptographyConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="frameworkConfiguracion">
      <section name="servidorWeb" type="Helpers.ServidorWebConfiguracion, Helpers"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <securityCryptographyConfiguration>
    <hashProviders>
      <add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        saltEnabled="true"
        type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="HashProvider"/>
    </hashProviders>
  </securityCryptographyConfiguration>

  <appSettings>
    <add key="urlini" value="about.aspx"/>
    <add key="url" value="http://localhost:6065/MasterMenu.aspx"/>
    <add key="encryptKey"
      value="vj9ItA1rcpn92HISLh79sHeQBtCv7d1oBtUj/p2e/v+M2V9eGIu+jn8sqocTNQve3wGhBhXyicCZhzn9xYE6bQpTomdKoh03CP5NT1lYyN5+Nk8zLrqC/NlYBLDfemL7UIIbjTF9eVkyIq8O6zXhHiL+O9IlOaEcPVn8663wGshwf6k4gcSulEIyVRLf/s82oUiHlQ9G3FJGIj8UmN4bTGIHkoBDtKa0nlZQFICpgyAoC9g3Kgr+iQRrZASVT+gB8Ly8WjmKulAsJWdG6sVyQv4HcSlHAK7K3yT/ZqOZUiiFfrWLqyaeQmAu6iHK7ICP7jDhkPb3iJulAOx1iyuLNw=="/>
    <add key="usrAplicativo" value="DESA"/>
    <add key="pasAplicativo" value="P3TlR9Er2Q8="/>
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\windows\temp\;"/>
    <!--<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>-->
  </appSettings>
  <!--<appSettings>
    <add key ="FolderPath" value ="Files/"/>
  </appSettings >-->
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="EMAPAConnectionString" connectionString="Data Source=GG-SIST-AHJ\SPIA;Initial Catalog=VIATICOS;User ID=sa;Password=123456" />
    <add name="VIATICOSConnectionString" connectionString="Data Source=GG-SIST-AHJ\SPIA;Initial Catalog=VIATICOS;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<location path="frmRealizarInforme.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/> 
      <compilation debug="true" targetFramework="4.0" />
      <pages validateRequest="false"/>
    </system.web>
  </location>-->
  <system.web>
    <globalization culture="es-DO" uiCulture="es-DO"/>
    <httpRuntime requestValidationMode="2.0"/>    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="FastReport.Web, Version=2013.2.4.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
                <add assembly="FastReport, Version=2013.2.4.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />-->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc"
          type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState timeout="20"/>
    <httpHandlers>
      <!--<add path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport" />-->
      <add path="ChartImg.axd" verb="GET,HEAD"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
        validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->  
    </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="FastReportHandler" path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport" />-->
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
  </system.webServer>
</configuration>